In [1]:
import  pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('Most Streamed Spotify Songs 2024.csv', encoding='unicode_escape')

In [3]:
df.head()

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Track                       4600 non-null   object
 1   Album Name                  4600 non-null   object
 2   Artist                      4595 non-null   object
 3   Release Date                4600 non-null   object
 4   ISRC                        4600 non-null   object
 5   All Time Rank               4600 non-null   object
 6   Track Score                 4600 non-null   float64
 7   Spotify Streams             4487 non-null   object
 8   Spotify Playlist Count      4530 non-null   object
 9   Spotify Playlist Reach      4528 non-null   object
 10  Spotify Popularity          3796 non-null   float64
 11  YouTube Views               4292 non-null   object
 12  YouTube Likes               4285 non-null   object
 13  TikTok Posts                3427 non-null   object
 14  TikTok Likes                3620 non-null   object
 15  TikTok Views                3619 non-null   object
 16  YouTube Playlist Reach      3591 non-null   object
 17  Apple Music Playlist Count  4039 non-null   float64
 18  AirPlay Spins               4102 non-null   object
 19  SiriusXM Spins              2477 non-null   object
 20  Deezer Playlist Count       3679 non-null   float64
 21  Deezer Playlist Reach       3672 non-null   object
 22  Amazon Playlist Count       3545 non-null   float64
 23  Pandora Streams             3494 non-null   object
 24  Pandora Track Stations      3332 non-null   object
 25  Soundcloud Streams          1267 non-null   object
 26  Shazam Counts               4023 non-null   object
 27  TIDAL Popularity            0 non-null      float64
 28  Explicit Track              4600 non-null   int64
dtypes: float64(6), int64(1), object(22)
memory usage: 1.0+ MB

TIDAL Popularity has null values , col 19-25

In [5]:
df.describe(include="all")

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
count,4600,4600,4595,4600,4600,4600,4600.000000,4487,4530,4528,...,2477,3679.000000,3672,3545.000000,3494,3332,1267,4023,0.0,4600.000000
unique,4370,4005,1999,1562,4598,4577,NaN,4425,4207,4478,...,689,NaN,3558,NaN,3491,2975,1265,4002,NaN,NaN
top,Danza Kuduro - Cover,Un Verano Sin Ti,Drake,1/1/2012,USWL11700269,"3,441",NaN,"1,655,575,417",1,3,...,1,NaN,"1,097",NaN,"56,972,562",9,27,1,NaN,NaN
freq,13,20,63,38,2,2,NaN,4,46,8,...,54,NaN,17,NaN,2,6,2,5,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,41.844043,NaN,NaN,NaN,...,NaN,32.310954,NaN,25.348942,NaN,NaN,NaN,NaN,NaN,0.358913
std,NaN,NaN,NaN,NaN,NaN,NaN,38.543766,NaN,NaN,NaN,...,NaN,54.274538,NaN,25.989826,NaN,NaN,NaN,NaN,NaN,0.479734
min,NaN,NaN,NaN,NaN,NaN,NaN,19.400000,NaN,NaN,NaN,...,NaN,1.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,23.300000,NaN,NaN,NaN,...,NaN,5.000000,NaN,8.000000,NaN,NaN,NaN,NaN,NaN,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,29.900000,NaN,NaN,NaN,...,NaN,15.000000,NaN,17.000000,NaN,NaN,NaN,NaN,NaN,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,44.425000,NaN,NaN,NaN,...,NaN,37.000000,NaN,34.000000,NaN,NaN,NaN,NaN,NaN,1.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,725.400000,NaN,NaN,NaN,...,NaN,632.000000,NaN,210.000000,NaN,NaN,NaN,NaN,NaN,1.000000

In [7]:
df.drop(['ISRC', 'TIDAL Popularity'],axis=1 , inplace=True)

In [9]:
df.head()

,Track,Album Name,Artist,Release Date,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity,...,AirPlay Spins,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,1,725.4,"390,470,936","30,716","196,631,588",92.0,...,"40,975",684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,2,545.9,"323,703,884","28,113","174,597,137",92.0,...,"40,778",3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,3,538.4,"601,309,283","54,331","211,607,669",92.0,...,"74,333",536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,4,444.9,"2,031,280,633","269,802","136,569,078",85.0,...,"1,474,799","2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",0
4,Houdini,Houdini,Eminem,5/31/2024,5,423.3,"107,034,922","7,223","151,469,874",88.0,...,"12,185",1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",1

In [10]:
df.isna().sum()

Track                            0
Album Name                       0
Artist                           5
Release Date                     0
All Time Rank                    0
Track Score                      0
Spotify Streams                113
Spotify Playlist Count          70
Spotify Playlist Reach          72
Spotify Popularity             804
YouTube Views                  308
YouTube Likes                  315
TikTok Posts                  1173
TikTok Likes                   980
TikTok Views                   981
YouTube Playlist Reach        1009
Apple Music Playlist Count     561
AirPlay Spins                  498
SiriusXM Spins                2123
Deezer Playlist Count          921
Deezer Playlist Reach          928
Amazon Playlist Count         1055
Pandora Streams               1106
Pandora Track Stations        1268
Soundcloud Streams            3333
Shazam Counts                  577
Explicit Track                   0
dtype: int64

In [11]:
def replace_commas_with_empty_string(df):
    
    df = df.replace(',', '', regex=True)
    
    return df

In [12]:
df=replace_commas_with_empty_string(df)

In [13]:
df['Release Date']=pd.to_datetime(df['Release Date'])

All Time Rank , Spotify Streams , Spotify Playlist Count, Spotify Playlist Reach , AirPlay Spins , SiriusXM Spins, Deezer Playlist Reach, Pandora Streams , Pandora Track Stations ,Soundcloud Streams ,Shazam Counts

are having object datatype

In [29]:
cols = [
    "All Time Rank",
    "Spotify Streams",
    "Spotify Playlist Count",
    "Spotify Playlist Reach",
    "AirPlay Spins",
    "SiriusXM Spins",
    "Pandora Streams",
    "Pandora Track Stations",
    "Soundcloud Streams",
    "Shazam Counts",
    'YouTube Views',
    'YouTube Likes',
    'TikTok Posts',
    'TikTok Likes',
    'TikTok Views',
    'TikTok Views',
    'YouTube Playlist Reach',
    "Deezer Playlist Reach"

]

In [30]:
for col in cols:
    df[col] = df[col].astype('float64')

In [31]:
df.info(all)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Track                       4600 non-null   object
 1   Album Name                  4600 non-null   object
 2   Artist                      4595 non-null   object
 3   Release Date                4600 non-null   datetime64[ns]
 4   All Time Rank               4600 non-null   float64
 5   Track Score                 4600 non-null   float64
 6   Spotify Streams             4487 non-null   float64
 7   Spotify Playlist Count      4530 non-null   float64
 8   Spotify Playlist Reach      4528 non-null   float64
 9   Spotify Popularity          3796 non-null   float64
 10  YouTube Views               4292 non-null   float64
 11  YouTube Likes               4285 non-null   float64
 12  TikTok Posts                3427 non-null   float64
 13  TikTok Likes                3620 non-null   float64
 14  TikTok Views                3619 non-null   float64
 15  YouTube Playlist Reach      3591 non-null   float64
 16  Apple Music Playlist Count  4039 non-null   float64
 17  AirPlay Spins               4102 non-null   float64
 18  SiriusXM Spins              2477 non-null   float64
 19  Deezer Playlist Count       3679 non-null   float64
 20  Deezer Playlist Reach       3672 non-null   float64
 21  Amazon Playlist Count       3545 non-null   float64
 22  Pandora Streams             3494 non-null   float64
 23  Pandora Track Stations      3332 non-null   float64
 24  Soundcloud Streams          1267 non-null   float64
 25  Shazam Counts               4023 non-null   float64
 26  Explicit Track              4600 non-null   int64
dtypes: datetime64[ns](1), float64(22), int64(1), object(3)
memory usage: 970.4+ KB

In [32]:
df['Total_counts']=df['Spotify Playlist Count'] + df['Deezer Playlist Count']+df['Amazon Playlist Count']+df['Shazam Counts']
df['Total_reach']=df['Spotify Playlist Reach'] + df['Deezer Playlist Reach']+df['YouTube Playlist Reach']

In [33]:
df['Total_streams']=df['Pandora Streams']+df['Soundcloud Streams']+df['Spotify Streams']

In [34]:
df.head()

,Track,Album Name,Artist,Release Date,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity,...,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,Explicit Track,Total_counts,Total_reach,Total_streams
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,2024-04-26,1.0,725.4,3.904709e+08,30716.0,196631588.0,92.0,...,17598718.0,114.0,18004655.0,22931.0,4818457.0,2669262.0,0,2700154.0,3.648273e+08,413294048.0
1,Not Like Us,Not Like Us,Kendrick Lamar,2024-05-04,2.0,545.9,3.237039e+08,28113.0,174597137.0,92.0,...,10422430.0,111.0,7780028.0,28444.0,6623075.0,1118279.0,1,1146570.0,3.413999e+08,338106987.0
2,i like the way you kiss me,I like the way you kiss me,Artemas,2024-03-19,3.0,538.4,6.013093e+08,54331.0,211607669.0,92.0,...,36321847.0,172.0,5022621.0,5639.0,7208651.0,5285340.0,0,5339979.0,6.217145e+08,613540555.0
3,Flowers,Flowers - Single,Miley Cyrus,2023-01-12,4.0,444.9,2.031281e+09,269802.0,136569078.0,85.0,...,24684248.0,210.0,190260277.0,203384.0,NaN,11822942.0,0,12093218.0,3.512442e+09,NaN
4,Houdini,Houdini,Eminem,2024-05-31,5.0,423.3,1.070349e+08,7223.0,151469874.0,88.0,...,17660624.0,105.0,4493884.0,7006.0,207179.0,457017.0,1,464427.0,2.818943e+08,111735985.0

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Track                       4600 non-null   object
 1   Album Name                  4600 non-null   object
 2   Artist                      4595 non-null   object
 3   Release Date                4600 non-null   datetime64[ns]
 4   All Time Rank               4600 non-null   float64
 5   Track Score                 4600 non-null   float64
 6   Spotify Streams             4487 non-null   float64
 7   Spotify Playlist Count      4530 non-null   float64
 8   Spotify Playlist Reach      4528 non-null   float64
 9   Spotify Popularity          3796 non-null   float64
 10  YouTube Views               4292 non-null   float64
 11  YouTube Likes               4285 non-null   float64
 12  TikTok Posts                3427 non-null   float64
 13  TikTok Likes                3620 non-null   float64
 14  TikTok Views                3619 non-null   float64
 15  YouTube Playlist Reach      3591 non-null   float64
 16  Apple Music Playlist Count  4039 non-null   float64
 17  AirPlay Spins               4102 non-null   float64
 18  SiriusXM Spins              2477 non-null   float64
 19  Deezer Playlist Count       3679 non-null   float64
 20  Deezer Playlist Reach       3672 non-null   float64
 21  Amazon Playlist Count       3545 non-null   float64
 22  Pandora Streams             3494 non-null   float64
 23  Pandora Track Stations      3332 non-null   float64
 24  Soundcloud Streams          1267 non-null   float64
 25  Shazam Counts               4023 non-null   float64
 26  Explicit Track              4600 non-null   int64
 27  Total_counts                3094 non-null   float64
 28  Total_reach                 3183 non-null   float64
 29  Total_streams               1157 non-null   float64
dtypes: datetime64[ns](1), float64(25), int64(1), object(3)
memory usage: 1.1+ MB

In [36]:
df['Total_likes']=df['YouTube Likes']+df['TikTok Likes']

In [37]:
df['Total_Views']=df['YouTube Views']+df['TikTok Views']

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Track                       4600 non-null   object
 1   Album Name                  4600 non-null   object
 2   Artist                      4595 non-null   object
 3   Release Date                4600 non-null   datetime64[ns]
 4   All Time Rank               4600 non-null   float64
 5   Track Score                 4600 non-null   float64
 6   Spotify Streams             4487 non-null   float64
 7   Spotify Playlist Count      4530 non-null   float64
 8   Spotify Playlist Reach      4528 non-null   float64
 9   Spotify Popularity          3796 non-null   float64
 10  YouTube Views               4292 non-null   float64
 11  YouTube Likes               4285 non-null   float64
 12  TikTok Posts                3427 non-null   float64
 13  TikTok Likes                3620 non-null   float64
 14  TikTok Views                3619 non-null   float64
 15  YouTube Playlist Reach      3591 non-null   float64
 16  Apple Music Playlist Count  4039 non-null   float64
 17  AirPlay Spins               4102 non-null   float64
 18  SiriusXM Spins              2477 non-null   float64
 19  Deezer Playlist Count       3679 non-null   float64
 20  Deezer Playlist Reach       3672 non-null   float64
 21  Amazon Playlist Count       3545 non-null   float64
 22  Pandora Streams             3494 non-null   float64
 23  Pandora Track Stations      3332 non-null   float64
 24  Soundcloud Streams          1267 non-null   float64
 25  Shazam Counts               4023 non-null   float64
 26  Explicit Track              4600 non-null   int64
 27  Total_counts                3094 non-null   float64
 28  Total_reach                 3183 non-null   float64
 29  Total_streams               1157 non-null   float64
 30  Total_likes                 3528 non-null   float64
 31  Total_Views                 3531 non-null   float64
dtypes: datetime64[ns](1), float64(27), int64(1), object(3)
memory usage: 1.1+ MB

In [39]:
df['Pandora Track Stations'].value_counts()

Pandora Track Stations
9.0        6
12.0       5
2.0        5
56.0       4
100.0      4
          ..
41851.0    1
23975.0    1
1615.0     1
25969.0    1
11320.0    1
Name: count, Length: 2975, dtype: int64

In [40]:
def summary(df):
    print(f'data shape: {df.shape}')
    summ = pd.DataFrame(df.dtypes, columns=['Data Type'])
    summ['Missing#'] = df.isna().sum()
    summ['Missing%'] = (df.isna().sum())/len(df)
    summ['Dups'] = df.duplicated().sum()
    summ['Uniques'] = df.nunique().values
    summ['Count'] = df.count().values
    desc = pd.DataFrame(df.describe(include='all').transpose())
    summ['Min'] = desc['min'].values
    summ['Max'] = desc['max'].values
    summ['Average'] = desc['mean'].values
    summ['Standard Deviation'] = desc['std'].values
    summ['First Value'] = df.loc[0].values
    summ['Second Value'] = df.loc[1].values
    summ['Third Value'] = df.loc[2].values

    display(summ)

summary(df)

data shape: (4600, 32)

,Data Type,Missing#,Missing%,Dups,Uniques,Count,Min,Max,Average,Standard Deviation,First Value,Second Value,Third Value
Track,object,0,0.000000,2,4370,4600,NaN,NaN,NaN,NaN,MILLION DOLLAR BABY,Not Like Us,i like the way you kiss me
Album Name,object,0,0.000000,2,4005,4600,NaN,NaN,NaN,NaN,Million Dollar Baby - Single,Not Like Us,I like the way you kiss me
Artist,object,5,0.001087,2,1999,4595,NaN,NaN,NaN,NaN,Tommy Richman,Kendrick Lamar,Artemas
Release Date,datetime64[ns],0,0.000000,2,1562,4600,1987-07-21 00:00:00,2024-06-14 00:00:00,2021-01-27 07:48:18.782608896,NaN,2024-04-26 00:00:00,2024-05-04 00:00:00,2024-03-19 00:00:00
All Time Rank,float64,0,0.000000,2,4577,4600,1.0,4998.0,2290.678043,1322.878312,1.0,2.0,3.0
Track Score,float64,0,0.000000,2,862,4600,19.4,725.4,41.844043,38.543766,725.4,545.9,538.4
Spotify Streams,float64,113,0.024565,2,4425,4487,1071.0,4281468720.0,447387314.745933,538443905.28127,390470936.0,323703884.0,601309283.0
Spotify Playlist Count,float64,70,0.015217,2,4207,4530,1.0,590392.0,59390.829801,71131.406625,30716.0,28113.0,54331.0
Spotify Playlist Reach,float64,72,0.015652,2,4478,4528,1.0,262343414.0,23346816.055212,29687169.344045,196631588.0,174597137.0,211607669.0
Spotify Popularity,float64,804,0.174783,2,94,3796,1.0,96.0,63.501581,16.186438,92.0,92.0,92.0
YouTube Views,float64,308,0.066957,2,4290,4292,913.0,16322756555.0,402796728.980196,701900000.895103,84274754.0,116347040.0,122599116.0
YouTube Likes,float64,315,0.068478,2,4283,4285,25.0,62311179.0,2930048.625204,4593640.460858,1713126.0,3486739.0,2228730.0
TikTok Posts,float64,1173,0.255000,2,3318,3427,1.0,42900000.0,944307.620076,2442079.611844,5767700.0,674700.0,3025400.0
TikTok Likes,float64,980,0.213043,2,3615,3620,3.0,23474223833.0,112637464.571271,549812332.340658,651565900.0,35223547.0,275154237.0
TikTok Views,float64,981,0.213261,2,3616,3619,19.0,233232311463.0,1161157789.833656,5881583551.133887,5332281936.0,208339025.0,3369120610.0
YouTube Playlist Reach,float64,1009,0.219348,2,3458,3591,1.0,7289707052.0,343960146.308271,670481067.525724,150597040.0,156380351.0,373784955.0
Apple Music Playlist Count,float64,561,0.121957,2,322,4039,1.0,859.0,54.60312,71.61227,210.0,188.0,190.0
AirPlay Spins,float64,498,0.108261,2,3267,4102,1.0,1777811.0,55139.156753,127917.760123,40975.0,40778.0,74333.0
SiriusXM Spins,float64,2123,0.461522,2,689,2477,1.0,7098.0,257.344368,554.737321,684.0,3.0,536.0
Deezer Playlist Count,float64,921,0.200217,2,233,3679,1.0,632.0,32.310954,54.274538,62.0,67.0,136.0
Deezer Playlist Reach,float64,928,0.201739,2,3558,3672,1.0,48197850.0,1294938.737745,3555542.808592,17598718.0,10422430.0,36321847.0
Amazon Playlist Count,float64,1055,0.229348,2,147,3545,1.0,210.0,25.348942,25.989826,114.0,111.0,172.0
Pandora Streams,float64,1106,0.240435,2,3491,3494,2.0,1463624043.0,85667349.255581,167878487.919675,18004655.0,7780028.0,5022621.0
Pandora Track Stations,float64,1268,0.275652,2,2975,3332,1.0,3780513.0,87876.965786,260853.716403,22931.0,28444.0,5639.0
Soundcloud Streams,float64,3333,0.724565,2,1265,1267,18.0,319835943.0,14847968.416732,32132814.763382,4818457.0,6623075.0,7208651.0
Shazam Counts,float64,577,0.125435,2,4002,4023,1.0,219794543.0,2529148.692767,6038785.837993,2669262.0,1118279.0,5285340.0
Explicit Track,int64,0,0.000000,2,2,4600,0.0,1.0,0.358913,0.479734,0,1,0
Total_counts,float64,1506,0.327391,2,3090,3094,351.0,45218542.0,2967402.338397,4344628.124049,2700154.0,1146570.0,5339979.0
Total_reach,float64,1417,0.308043,2,3181,3183,433285.0,7472398306.0,388866798.879045,698620890.401288,364827346.0,341399918.0,621714471.0
Total_streams,float64,3443,0.748478,2,1156,1157,98096.0,4799427953.0,590510085.605877,656498202.017318,413294048.0,338106987.0,613540555.0
Total_likes,float64,1072,0.233043,2,3526,3528,3232.0,23474347437.0,113780183.656463,550088283.912807,653279026.0,38710286.0,277382967.0
Total_Views,float64,1069,0.232391,2,3529,3531,155212.0,233243768629.0,1567133022.657887,5942805910.994955,5416556690.0,324686065.0,3491719726.0

In [41]:
df['Spotify Popularity'].value_counts()

Spotify Popularity
67.0    185
70.0    176
65.0    175
66.0    170
68.0    170
       ...
38.0      1
89.0      1
91.0      1
96.0      1
95.0      1
Name: count, Length: 94, dtype: int64

In [42]:
df.head()

,Track,Album Name,Artist,Release Date,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity,...,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,Explicit Track,Total_counts,Total_reach,Total_streams,Total_likes,Total_Views
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,2024-04-26,1.0,725.4,3.904709e+08,30716.0,196631588.0,92.0,...,18004655.0,22931.0,4818457.0,2669262.0,0,2700154.0,3.648273e+08,413294048.0,6.532790e+08,5.416557e+09
1,Not Like Us,Not Like Us,Kendrick Lamar,2024-05-04,2.0,545.9,3.237039e+08,28113.0,174597137.0,92.0,...,7780028.0,28444.0,6623075.0,1118279.0,1,1146570.0,3.413999e+08,338106987.0,3.871029e+07,3.246861e+08
2,i like the way you kiss me,I like the way you kiss me,Artemas,2024-03-19,3.0,538.4,6.013093e+08,54331.0,211607669.0,92.0,...,5022621.0,5639.0,7208651.0,5285340.0,0,5339979.0,6.217145e+08,613540555.0,2.773830e+08,3.491720e+09
3,Flowers,Flowers - Single,Miley Cyrus,2023-01-12,4.0,444.9,2.031281e+09,269802.0,136569078.0,85.0,...,190260277.0,203384.0,NaN,11822942.0,0,12093218.0,3.512442e+09,NaN,1.089388e+09,1.569983e+10
4,Houdini,Houdini,Eminem,2024-05-31,5.0,423.3,1.070349e+08,7223.0,151469874.0,88.0,...,4493884.0,7006.0,207179.0,457017.0,1,464427.0,2.818943e+08,111735985.0,NaN,NaN

In [44]:
df.head(10)

,Track,Album Name,Artist,Release Date,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity,...,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,Explicit Track,Total_counts,Total_reach,Total_streams,Total_likes,Total_Views
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,2024-04-26,1.0,725.4,3.904709e+08,30716.0,196631588.0,92.0,...,18004655.0,22931.0,4818457.0,2669262.0,0,2700154.0,3.648273e+08,413294048.0,6.532790e+08,5.416557e+09
1,Not Like Us,Not Like Us,Kendrick Lamar,2024-05-04,2.0,545.9,3.237039e+08,28113.0,174597137.0,92.0,...,7780028.0,28444.0,6623075.0,1118279.0,1,1146570.0,3.413999e+08,338106987.0,3.871029e+07,3.246861e+08
2,i like the way you kiss me,I like the way you kiss me,Artemas,2024-03-19,3.0,538.4,6.013093e+08,54331.0,211607669.0,92.0,...,5022621.0,5639.0,7208651.0,5285340.0,0,5339979.0,6.217145e+08,613540555.0,2.773830e+08,3.491720e+09
3,Flowers,Flowers - Single,Miley Cyrus,2023-01-12,4.0,444.9,2.031281e+09,269802.0,136569078.0,85.0,...,190260277.0,203384.0,NaN,11822942.0,0,12093218.0,3.512442e+09,NaN,1.089388e+09,1.569983e+10
4,Houdini,Houdini,Eminem,2024-05-31,5.0,423.3,1.070349e+08,7223.0,151469874.0,88.0,...,4493884.0,7006.0,207179.0,457017.0,1,464427.0,2.818943e+08,111735985.0,NaN,NaN
5,Lovin On Me,Lovin On Me,Jack Harlow,2023-11-10,6.0,410.1,6.706654e+08,105892.0,175421034.0,83.0,...,138529362.0,50982.0,9438601.0,4517131.0,1,4623261.0,3.059811e+09,818633401.0,2.163361e+08,3.069835e+09
6,Beautiful Things,Beautiful Things,Benson Boone,2024-01-18,7.0,407.2,9.001588e+08,73118.0,201585714.0,86.0,...,65447476.0,57372.0,NaN,9990302.0,0,10063742.0,4.851363e+09,NaN,3.370570e+07,8.436385e+08
7,Gata Only,Gata Only,FloyyMenor,2024-02-02,8.0,375.8,6.750792e+08,40094.0,211236940.0,92.0,...,3372428.0,5762.0,NaN,6063523.0,1,6103757.0,2.357064e+09,NaN,3.399862e+08,4.032967e+09
8,Danza Kuduro - Cover,ýýýýýýýýýýýýýýýýýýýýý - ýýýýýýýýýýýýýýýýýý -,MUSIC LAB JPN,2024-06-09,9.0,355.7,1.653018e+09,1.0,15.0,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
9,BAND4BAND (feat. Lil Baby),BAND4BAND (feat. Lil Baby),Central Cee,2024-05-23,10.0,330.6,9.067657e+07,10400.0,184199419.0,86.0,...,1005626.0,842.0,3679709.0,666302.0,1,676872.0,3.697064e+08,95361908.0,1.225632e+08,1.007391e+09

In [43]:
df.to_csv('spotify_cleaned_data.csv')